<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LProject.Properties.Settings.LProjectConnectionString"
            connectionString="Data Source=DESKTOP-KQI339F\SQLEXPRESS;Initial Catalog=LProject;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="LProject.Properties.Settings.LProjectConnectionString2"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=LProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LProject.Properties.Settings>
            <setting name="printRes" serializeAs="String">
                <value />
            </setting>
        </LProject.Properties.Settings>
    </userSettings>
</configuration>